.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
  }
  
  .pokemon-search {
    display: flex;
    justify-content: start;
    margin: 20px 0;
  }
  
  .pokemon-search input {
    width: 300px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  .pokemon-search input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 800px rgba(0, 123, 255, 0.5);
  }